html,
body {
    max-width: 100vw;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}
.gsap-marker-scroller-start,
.gsap-marker-scroller-end {
    position: fixed !important;
    z-index: 9999;
}
